/*
 * Baikal-T/T1 CNC DAC board device tree
 *
 * Copyright (C) 2018 T-platforms JSC
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 */

/ {
	/* Reserve memory regions for CMA and NTB */
	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		/* Reserve 3MB for various CMA-based things (ntb_tool, etc) */
		cma_reserved {
			compatible = "shared-dma-pool";
			size = <0x300000>;
			reusable;
			linux,cma-default;
		};
	};

	/*
	 * Pseudo-device with watchdog timer GPIO-pins declaration. It will be
	 * used in CNC NTB driver to notify CU of possible peripheral board
	 * hang ups.
	 */
	cnc_wd_gpio {
		wd_setup-gpios = <&porta 2  GPIO_ACTIVE_HIGH>, /* wd_set pin */
				 <&porta 27 GPIO_ACTIVE_HIGH>; /* wd_in  pin */
	};

	/*
	 * Pseudo-device with DAC GPIO lines declaration. They are used by CNC
	 * DAC driver logic to notify load DAC registers to outputs.
	 */
	cnc_dac_gpio {
		cnc_ldac1-gpios = <&porta 2 GPIO_ACTIVE_HIGH>; /* LDAC pin for rev1 boards */
		cnc_ldac3-gpios = <&porta 8 GPIO_ACTIVE_HIGH>; /* LDAC pin for rev3 boards */
	};
};

&usb {
	status = "disabled";
};

&sata {
	status = "disabled";
};

&mdio0 {
	status = "disabled";
};

&xgmac {
	status = "disabled";
};

&gmac0 {
	status = "disabled";
};

&gmac1 {
	status = "disabled";
};

/* Board settings devices */
&i2c1 {
	status = "okay";

	shred@21 {
		compatible = "nxp,pcf8574";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>; /* Informative */
	};

	func@22 {
		compatible = "nxp,pcf8574";
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>; /* Informative */
	};

	bayid@23 {
		compatible = "nxp,pcf8574";
		reg = <0x23>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>; /* Informative */
	};

        eeprom@57 {
                compatible = "atmel,24c32";
                reg = <0x57>;
                pagesize = <16>;
        };
};

&uart1 {
	status = "disabled";
};

/* DA5754 DAC chips */
&spi0 {
	status = "okay";

	num-cs = <2>;

	dac0: da5754@0 {
		compatible = "adi,ad5754";
		reg = <0>;
		spi-max-frequency = <1000000>;
		spi-cpha;
	};

	dac1: da5754@1 {
		compatible = "adi,ad5754";
		reg = <1>;
		spi-max-frequency = <1000000>;
		spi-cpha;
	};
};

&spi1 {
	status = "disabled";
};
