/*
 * Baikal-T1 BN1BT1 board device tree
 *
 * Copyright (C) 2019 T-platforms JSC
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 */

/dts-v1/;

#include <dt-bindings/interrupt-controller/mips-gic.h>
#include <dt-bindings/gpio/gpio.h>

#include "baikal_t1_soc.dtsi"

/ {
	model = "Baikal-T1 BN1BT1 Board";
	compatible = "baikal,mips", "baikal,baikal-t1-soc", "tplatforms,baikal-bn1bt1-board";

	chosen {
		bootargs = "root=/dev/ram rw console=ttyS0,115200n8 earlyprintk=uart8250,mmio32,0x1F04A000,115200 nohtw";
		linux,initrd-start = <0 0x01000000>;
		linux,initrd-end   = <0 0x02000000>;
	};

	memory {
		device_type = "memory";
		reg = <0 0x00000000 0 0x08000000>,
		      <0 0x20000000 0 0x70000000>;
	};
};

&usb {
	status = "okay";
};

&sata {
	status = "okay";
};

&pci {
	status = "okay";
};

&gmac0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&gmac0_phy>;
	snps,reset-gp-out;
	snps,reset-active-low;
	snps,reset-delays-us = <0 2000 16000>;

	gmdio0: gmac0_mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		gmac0_phy: ethernet-phy@1 {
			compatible = "microsemi,vsc8531", "ethernet-phy-id0007.0570", "ethernet-phy-ieee802.3-c22", "ethernet-phy-ieee802.3-c45";
			reg = <0x1>;

			vsc8531,vddmac = <1800>;
			vsc8531,edge-slowdown = <0>;
		};
	};
};

&gpio {
	status = "okay";
};

&gpio3 {
	status = "okay";
};

&i2c0 {
	status = "okay";

	clock-frequency = <100000>;
};

&i2c1 {
	status = "okay";

	bmc@8 {
		compatible = "tp,bt-bmc";
		reg = <0x0c>;
	};

	control: gpioexp@20 {
		compatible = "nxp,pca9535";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	shred: gpio@24 {
		compatible = "nxp,pcf8574";
		reg = <0x24>;
		gpio-controller;
		#gpio-cells = <2>;
		lines-initial-states = <0x0>;
	};

	fru: eeprom@53 {
		compatible = "atmel,24c32";
		pagesize = <32>;
		reg = <0x53>;
	};

	spd: eeprom@50 {
		compatible = "atmel,24c02";
		pagesize = <8>;
		reg = <0x50>;
	};
};

&uart1 {
	status = "okay";

	dcd-override;
	dsr-override;
	cts-override;
	ri-override;
};

&spi0 {
	num-cs = <2>;
	cs-gpios = <&porta 14 GPIO_ACTIVE_LOW>, <0>;
	status = "okay";

#if 0
	mmc-slot@0 {
		compatible = "fsl,mpc8323rdb-mmc-slot", "mmc-spi-slot";
		reg = <0>;
		gpios = <&porta 15 GPIO_ACTIVE_LOW>, <0>;
		voltage-ranges = <2000 3600>;
		spi-max-frequency = <15000000>;
	};
#endif
};

&spi1 {
	num-cs = <1>;
	cs-gpios = <0>;
	status = "okay";
};

&spi2 {
	status = "okay";
	num-cs = <1>;

	boot_flash: mt25qu128@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		compatible = "micron,mt25qu128", "jedec,spi-nor";
		spi-max-frequency = <5000000>;
		m25p,fast-read;

		partition@0 {
			label = "bootloader";
			reg = <0x0 0xE0000>;
			read-only;
		};

		partition@1 {
			label = "environment";
			reg = <0xE0000 0x10000>;
		};

		partition@2 {
			label = "information";
			reg = <0xF0000 0x10000>;
			read-only;
		};

		partition@3 {
			label = "multiimage";
			reg = <0x100000 0xF00000>;
			read-only;
		};

		partition@4 {
			label = "firmware";
			reg = <0x0 0x1000000>;
		};
	};
};

&pvt {
	status = "okay";
};

&efuse {
	status = "okay";
};
